#!/usr/bin/make -f

# vim:syntax=make:

export DH_VERBOSE=1
TZDATA_VERSION=2008h
TZCODE_VERSION=2008h
SCRIPTS_DIR=$(CURDIR)/scripts
DATA_DIR=$(CURDIR)/data
BUILD_DIR=$(CURDIR)/tmp
TZCODE_DIR=$(BUILD_DIR)/tzcode
BINARY_DIR=$(BUILD_DIR)/bin
TIMED_DIR=$(BUILD_DIR)/timed
TAR_DIR=$(CURDIR)/elsie.nci.nih.gov
DEST=$(CURDIR)/debian/tmp

.PHONY: build clean realclean install configure binary-indep binary-arch binary

clean:
	@echo TARGET clean
	@echo TZDATA_VERSION: $(TZDATA_VERSION)
	@echo TZCODE_VERSION: $(TZCODE_VERSION)
	@echo BUILD_DIR: $(BUILD_DIR)
	@echo BINARY_DIR: $(BINARY_DIR)
	rm -rf $(CURDIR)/tmp
	rm -f build-stamp configure-stamp install-stamp
	dh_testdir
	dh_testroot

configure: configure-stamp
configure-stamp:
	@echo TARGET configure
	mkdir -p $(BUILD_DIR) $(BINARY_DIR) $(TIMED_DIR)
	cd $(BUILD_DIR) && tar xzf $(TAR_DIR)/tzdata$(TZDATA_VERSION).tar.gz
	cd $(BUILD_DIR) && tar xzf $(TAR_DIR)/tzcode$(TZCODE_VERSION).tar.gz
	touch $@

build: build-stamp
build-stamp: configure
	@echo TARGET build
	dh_testdir
	g++ $(SCRIPTS_DIR)/signature.c++ -Wall -Werror -xc++ -o $(BINARY_DIR)/signature
	cd $(BUILD_DIR) && make yearistype zic
	cp $(BUILD_DIR)/{yearistype,zic} $(BINARY_DIR)
	cd $(BUILD_DIR) && $(SCRIPTS_DIR)/iso8601.perl > iso8601
	cd $(BUILD_DIR) && $(SCRIPTS_DIR)/zone-list.sh > zone.list
	cd $(BUILD_DIR) && $(SCRIPTS_DIR)/zone-generate.sh
	cd $(BUILD_DIR) && perl -w -s $(SCRIPTS_DIR)/find-aliases.perl \
    -zones=zone.list -signatures=signatures -md5sum=md5sum > zone.alias
	cd $(DATA_DIR) && $(SCRIPTS_DIR)/prepare-timed-data.perl \
    --zonetab=$(BUILD_DIR)/zone.tab \
    --signatures=$(BUILD_DIR)/signatures \
    --mcc-main=MCC \
    --distinct=distinct.tab \
    --single=single.tab \
    mcc-wikipedia-*.html \
    --single-output=$(TIMED_DIR)/single.data \
    --distinct-output=$(TIMED_DIR)/distinct.data \
    --full-output=$(TIMED_DIR)/olson.data \
    --country-by-mcc-output=$(TIMED_DIR)/country-by-mcc.data \
    --zones-by-country-output=$(TIMED_DIR)/zones-by-country.data
	touch $@

install: install-stamp
install-stamp:
	@echo TARGET install
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	mkdir -p $(DEST)/usr/share/{zoneinfo,tzdata-timed}
	cd $(BUILD_DIR) && install -t $(DEST)/usr/share/zoneinfo -o 0 -g 0 -m 644 zone.tab iso3166.tab
	cd $(BUILD_DIR) && cp -a zones/* $(DEST)/usr/share/zoneinfo
	cp -a $(TIMED_DIR)/* $(DEST)/usr/share/tzdata-timed
	cd $(BUILD_DIR) && chown -R 0:0 $(DEST)/usr/share/{zoneinfo,tzdata-timed}
	cd $(BUILD_DIR) && chmod -R u+rwX,go+rX,go-w $(DEST)/usr/share/{zoneinfo,tzdata-timed}
	touch $@

binary: binary-indep binary-arch
binary-indep:
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_install --sourcedir=$(CURDIR)/debian/tmp
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

